{
	"defaultConfig": {
		"buildType": "develop",
		"api": "CoreEngine",
		"libraryDir": "lib/"
	},

	"resources": [{
			"path": "resource/",
			"resourceType": "resource"
		},
		{
			"path": "gui/",
			"resourceType": "gui"
		}
	],

	"buildDirs": [{
		"targetSource": "src/com/sharpice/orimod/ModMain.js",
		"dir": "src/"
	}],

	"compile": [{
			"path": "src/com/sharpice/orimod/ModMain.js",
			"sourceType": "mod"
		},
		{
			"path": "src/com/sharpice/orimod/launcher.js",
			"sourceType": "launcher"
		}
	]
}